/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : May 23, 2020, 7:19:00 PM
    Author     : BMGPC
*/
* {
    font-family: 'Open Sans', sans-serif;
}
header {
    width: 100%;    
    border: 2px solid #b19c43;
    border-radius: 3px;    
}
header ,header * {
    float: left;    
    background-color: #fedf60;
}
header * {
    display: inline-block;
}
header img {
    width: 3%;
    padding: 3%;
}
header h1 {
    width: 55%;
    text-align: center;
    padding: 3.3% 0% 3.3%;
    margin: 0%;    
}
section.asociados {
    width: 100%;
    float: right;
}
img.Icono {
    width: 10%;
    padding: 0% 7% 0%;    
}
section.nosotros article {
    float: right;
    width: 85%;
}
section.nosotros image {
    float: left;
    width: 10%;
    padding: 2%;
}